<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <form action="" method="post">
        {% csrf_token %}
        <input type="email", name="email" placeholder="Email address" required>
        <input type="text", name="username" placeholder="create username" required>
        <input type="password", name="password1" placeholder="create password" required>
        <input type="password", name="password2" placeholder="confirm password" required>

        {% for field in registration_form %}
            <p>
                {% for error in field.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}
        {% if registration_form.non_field_errors %}
        <p>{{ registration_form.non_field_errors }}</p>
        {% endif %}
        <input type="submit",value="Register">
    </form>
    
</body>
</html>